@model IEnumerable<MyStore.ViewModel.OrderDetail>

@{
    ViewData["Title"] = "viewItemsInCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cart</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="AddItemToCart" asp-route-id="@item.ProductId">Increase or reduce quantity</a> |
                    <a asp-action="DeleteItemFromCart" asp-route-id="@item.ProductId">Remove from Cart</a>
                </td>
            </tr>
        }
    </tbody>
    <a asp-action="AddShippingDetails">Check out</a>
</table>
